body{
    color: white;
    background-color: black;
}
/* styl menu */
.menu{
    text-align: center;
}
.menu a{
    padding: 10px;
}
.menu a:hover{
    text-decoration: underline;
    color: #9e9e9e;
}
#userinfo{
   
    float: inline-end;
    text-decoration: none;
    
}
/* koniec stylu menu */
.container a:link{
    text-decoration: none;
    color: white
}
.container a:hover{
    color: yellow;
}
p{
    width: 50%;
}
a{
    text-decoration: none;
    color: white;
}
button{
    border-radius:5px;
    background-color:black; 
    color:white; 
}

